.backLink {
  min-width: 200px;
  width: 20%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  margin: 0 auto;
  border-radius: 30px;
  line-height: 1.2;
  font-size: 16px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  color: #f6f6f6;
  background-color: #9567ff;
  transition: all 0.25s ease-in-out;
}
.backLink:hover,
.backLink:focus,
.backLink:active {
  background-color: #9567ff8c;
}
