.contactsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97vh;
}
.flexRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .contactsSection {
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    height: 97vh;
  }
  .flexRight {
    align-self: baseline;
  }
}
