.sectionHome {
  padding-top: 20px;
  height: 97vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.homeTitle {
  font-size: 28px;
  margin-bottom: 10px;
  -webkit-animation: homeTitle 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: homeTitle 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.homeSubTitle {
  font-size: 18px;
  -webkit-animation: homeSubTitle 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: homeSubTitle 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes homeTitle {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes homeTitle {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes homeSubTitle {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes homeSubTitle {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .sectionHome {
    padding-top: 50px;
    position: relative;
  }

  .homeTitle {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .homeSubTitle {
    font-size: 20px;
  }
}
