.contactItem {
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  gap: 24px;
  align-items: baseline;
  justify-content: space-between;
  min-width: 280px;
}
.contactContainer {
  display: flex;
  gap: 20px;
}
.contactIcon {
  fill: #38005a;
  font-size: 14px;
}
.contactIconPhone {
  fill: #38005a;
  font-size: 16px;
}
.contactName {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
}

.contactNumber {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
}
.deleteBtn {
  background-color: #9e78f8;
  color: #fff;
  padding: 8px 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}
.deleteBtn:hover {
  opacity: 0.8;
}
