.formContainer {
  background: linear-gradient(
    0deg,
    rgb(120 199 223) 54%,
    rgb(191 136 246) 120%,
    rgba(249, 67, 253, 0.6755077030812324) 100%
  );
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: baseline;
}
.fieldContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formInput {
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  width: 100%;
}
.formInput:hover,
.formInput:focus,
.formInput:active {
  border: 1px solid #9e78f8;
}
.btnSubmit {
  background-color: #9e78f8;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  align-self: flex-start;
}
.btnSubmit:hover {
  opacity: 80%;
}
.errorMessage {
  color: #dd3a3a;
}
