.formContainer {
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.formInput {
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  width: 100%;
}
.formInput:hover,
.formInput:focus,
.formInput:active {
  border: 1px solid #161616;
}
.btnSubmit {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}
.btnSubmit:hover {
  opacity: 0.8;
}
.errorMessage {
  color: #dd3a3a;
}
