.circleContainer {
  position: absolute;
  left: 11%;
  bottom: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  min-width: 200px;
}

.circleBig {
  position: absolute;
  top: 20%;
  left: 0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #68cfee9c;
}
.circleSmall {
  position: absolute;
  top: -10%;
  left: -15%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #9567ffad;
}
.circleMedium {
  position: absolute;
  top: 20%;
  right: -30%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #9567ffad;
}
